body {	
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Arial", sans-serif;   
	font-size: 24px;	
	font-weight: 400;	
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header-wrapper {	
	padding: 0 20px;
	margin: 0 auto;
}

.header-list {
	list-style: none;
	display: flex;
	justify-content: center;
	padding-left: 0;
	align-items: center;
}

.header__item a {
	color: black;
	margin-right: 20px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

.header__item a:hover {
	opacity: 0.3;
} 

.main-navigation-tel {
	color: black;
	font-weight: bold;
	margin-left: 75px;
}

.main-navigation-tel:hover {
	opacity: 0.3;
}

.main-navigation {
	display: flex;	
	align-items: center;
	margin-top: 40px;
	justify-content: flex-end;
}

.main-navigation-logo {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
}

.main-navigation-text {
	margin-bottom: -20px;
}

.main-image {
	width: 100%;	
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}

.about-wrapper {
	width: 100%;
	margin: 0 auto;	
}

.about-us {
	margin-top: 100px;
	width: 1050px;
	margin: 0 auto;
}

.about-title {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-weight: bold;
	font-size: inherit;
}

.about-us-text {
	font-size: 18px;
}

.services {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 100px;
}

.services-block {	
	background-color: #f6f6f6;
	text-align: center;
}

.services-title {
	margin-top: 150px;
	margin-bottom: 110px;
}

.services-subtitle {	
	position: relative;
	font-size: 18px;
	font-weight: bold;
}

.services-subtitle::after {
	content: "";
	display: block;
	width: 250px;
	height: 0.5px;
	background-color: black;
	position: absolute;
	right: 37%;
   top: 50px;
}

.services_holder {
	margin: 0 auto;
}

.services_holder-block {
	max-width: 422px;
   margin: 0 auto;
   font-size: 18px;
   margin-top: 100px;
   text-align: left;	
}

.services-text {
	padding-left: 20px;
	line-height: 24px;
}

.contacts {
	margin-top: 120px;
}

.contacts-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.our-contacts {
	display: flex;
	justify-content: space-between;
	width: 990px;
	margin: 100px auto;
	padding-right: 20px;	
}

.our-contacts__item {
	display: flex;
	flex-direction: column;
	text-align: center;	
}

.contacts-subtitle {
	text-align: center;
	position: relative;
}

.contacts-subtitle::after {
	content: "";
	display: block;
	width: 150px;
	height: 0.5px;
	background-color: black;
	position: absolute;
	top: 45px;
   left: 6%;
}

.adress {
	margin-bottom: 10px;
	line-height: 30px;
	font-size: 18px;
	padding-left: 4px;
}

.pin {
	margin-top: -25px;	
}

.footer {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background-color: #565656;
}

.footer-wrapper {
	width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer-list {
	list-style: none;
	padding-left: 0;
	margin-top: 65px;
}

.footer-list a {
	color: white;
}

.footer__item {
	padding-top: 15px;
}

.footer__item a:hover {
	opacity: 0.3;
}

.footer-tel {
	color: white;
	line-height: 37px;
	margin-right: 30px;	
}

.telephones {
	margin-top: 89px;
}

.footer-tel a {
	color: white;
	font-size: 30px;
}

.footer-tel a:hover {
	opacity: 0.3;		
}