body {	
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Arial", sans-serif;   
	font-size: 24px;	
	font-weight: 400;	
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header-wrapper {	
	padding: 0 20px;
	margin: 0 auto;
}

.header__burger {
	display: none;
}


.header-list {
	list-style: none;
	display: flex;
	justify-content: center;
	padding-left: 0;
	align-items: center;	
}

.header__item a {
	color: black;
	margin-right: 20px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

.header__item a:hover {
	opacity: 0.3;
} 

.main-navigation-tel {
	color: black;
	font-weight: bold;
	margin-left: 75px;
}

.main-navigation-tel:hover {
	opacity: 0.3;
}

.main-navigation {
	display: flex;	
	align-items: center;
	margin-top: 40px;
	justify-content: flex-end;	
}

.main-navigation-logo {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
}

.main-navigation-text {
	margin-bottom: -20px;
}

.main-image {	
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;		
}

.about-wrapper {
	width: 100%;
	margin: 0 auto;	
}

.about-us {	
	width: 50%;
	margin: 110px auto;
}

.about-title {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-weight: bold;
	font-size: inherit;
}

.about-us-text {
	font-size: 18px;
}

.services {
	display: flex;	
}

.services-title,
.services-subtitle {
	margin: 0 auto;
}

.services_title {
	margin-top: 125px;
	margin-bottom: 135px;
}

.services_subtitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}

.services_subtitle1 {
	margin-top: 225px;
	margin-bottom: 0;
}

.services-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f6f6f6;
	width: 100%;
	
}

.services-company_text {
	width: 385px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 22px;
}


.services img {
	width: 50%;
}

.after-title {	
	width: 250px;
	border: 0.5px solid #000000;
	margin-top: 28px;
	margin-bottom: 33px;	
}

.after-contacts {
	width: 150px;
	border: 0.5px solid #000000;
}

.contacts {
	margin: 120px 20px;
}

.contacts-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 100px;
}

.our-contacts {
	display: flex;
	justify-content: space-around;	
	margin: 0 auto;
	padding-left: 0;
}

.our-contacts-pin {
	margin-left: 60px;
}

.our-contacts img {
	width: 40%;
	margin-left: 50px;
}

.our-contacts__item {
	display: flex;
	flex-direction: column;
	text-align: center;	
}

.contacts-subtitle {
	text-align: center;
	position: relative;
	margin-bottom: 0px;
}

.email {
	margin-bottom: 3px;
}

.tel {
	margin-bottom: 1px;
}

.tel__item {
	margin-top: -7px;
}

.adress {
	margin-bottom: 10px;
   line-height: 30px;
   font-size: 18px;
   padding-left: 4px;
   margin-top: 5px;
}

.pin {
	margin-top: -72px;	
}

.footer {
	width: 100%;
	max-height: 400px;
	margin: 0 auto;
	background-color: #565656;
}

.footer-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer-list {
	list-style: none;	
	margin-top: 65px;
}

.footer-list a {
	color: white;
}

.footer__item {
	padding-top: 15px;
}

.footer__item a:hover {
	opacity: 0.3;
}

.footer-tel {
	color: white;
	line-height: 37px;
	margin-right: 30px;	
}

.telephones {
	margin-top: 89px;
}

.footer-tel a {
	color: white;
	font-size: 30px;
}

.footer-tel a:hover {
	opacity: 0.3;		
}


@media (min-width: 768px) and (max-width: 991px) {
	
	.main-navigation {
		font-size: 17px;
		justify-content: space-between;
	}

	.main-navigation-text {
		margin-left: 75px;
		font-size: 17px;
	}

	.about-us {
		width: 93%;
	}

	.services {
		flex-wrap: wrap;
	}

	.services-company_text {
		padding-bottom: 140px;
	}

	.services_subtitle1 {
		margin-top: 165px;
	}

	.services img {
		width: 100%;
	}

	.our-contacts-pin {
		margin-left: 60px;
	}
	
	.order {
		flex-direction: column-reverse;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.main-navigation-text {		
		font-size: 19px;
	}

	.about-us {
		width: 93%;
	}

	.services-holder {
		height: 500px;
	}

	.services_title {
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.services_subtitle1 {
		margin-top: 125px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {

	.main-navigation-logo {
		flex-direction: column;
		text-align: center;
	}

	.logo img {
		width: 95%;	
	}

	.main-image img {
		width: 100%;
	}
	
	.main-navigation-text {
		margin-top: 45px;
		line-height: 1.5;
		font-size: 15px;
	}
	
	.about-us {
		width: 90%;
   	margin: 110px 39px;
	}

	.main-navigation {		
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header__burger span {
		position: absolute;
		background-color: #000000;
		right: 30px;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		right: 30px;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 10px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	top: 10px;
}
	
	.header-list {
		display: none;	
	}
	
	.main-navigation-tel {
		margin-left: 0;
	}

	.services img {
		width: 100%;
	}

	.services {
		flex-wrap: wrap;
	}

	.order {
		flex-direction: column-reverse;
	}

	.services-company_text {
		padding-bottom: 148px;
	}

	.services_subtitle1 {
		margin-top: 130px;
	}

	.services-company_text {
		width: 94%;
   	margin-bottom: 100px;
		font-size: 16px;
   	line-height: 22px;
	}
	
	.our-contacts img {
		width: 10%;
		margin: 0 auto;
	}

	.pin {
		width: 70%;
		margin: 0 auto;
	}
	
	.our-contacts {
		display: flex;
		flex-direction: column;
	}

	.our-contacts__item {
		margin-bottom: 50px;
	}

	.footer-wrapper {
		flex-direction: column;
   	align-items: center;
	}

	.telephones {
		margin-top: 0;
	}

	.footer-tel {
		margin-right: 0;
	} 

	.footer-tel a {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.footer-list {
		font-size: 18px;
   	padding-left: 0;
   	margin-top: 10px;
	}

	.contacts {
		margin: 40px 20px;
	}

}